<%- include('cabecalho.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Administrativo</title>

    <!-- Importação dos ícones do FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Importação da fonte Poppins do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Link para o CSS que você forneceu -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1><i class="fas fa-futbol"></i> Menu</h1>
  <div class="container">
    

    <!-- Tabela de Classificação -->
    <table>
      <thead>
        <tr>
          <th>Posição</th>
          <th>Time</th>
          <th>Jogadores</th>
          <th>Pontos</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Time A</td>
          <td>10</td>
          <td>30</td>
          <td><button class="delete-button">Vencedor</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Time B</td>
          <td>8</td>
          <td>28</td>
          <td><button class="delete-button">Vencedor</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Time C</td>
          <td>7</td>
          <td>24</td>
          <td><button class="delete-button">Vencedor</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>

